<div class="row">
  <div class="col-md-12 well">
<p> Welcome, <%= current_user.f_name %>
</div>

<div class="row">
  <div class="col-md-4 well">
    <h3>Accounts</h3>
    <hr>
    <ul class="list-group">
    <% @current_user.accounts.each do |account| %>
        <% if account.name %>
          <li class="list-group-item">
            <a href="/account/<%=account.id%>"><%= account.name%></a> : $<%= account.curr_balance %>
        <% end %>
    <% end %>
    </ul>
      <a href="/account/new" class="btn btn-primary">Add Account</a>
      <a href="/transaction/new" class="btn btn-info"> Record Payment</a>
  </div>
  <div class="col-md-8 well">
    <h3>Dashboard</h3>
    <hr>
    <p>Select your goal</p>
    <form action="/vanes" method="POST">
    <% Vane.all.each do |vane| %>
      <input type="checkbox" name="user[vane_ids][]" id="vane_<%=vane.id%>" value="<%= vane.id %>"><%= vane.name %></input>
    <% end %>
     <input type="submit" value="submit">
    </form>
  <hr>
      <% current_user.vanes.each do |vane| %>
      <!--Payoff Debt View - Shows total interest paid -->
      <% if vane.name == "Payoff" %>
         <h3>Save on Interest</h3>
         <% num_months = 0 %>
         <% fincharge = 0 %>
         <% num_months_2 = 0 %>
         <% fincharge_2 = 0 %>
         <% @current_user.accounts.collect do |account| %>
             <% if account.name %>
               <% options = {balance: account.balance, interest: account.interest, min_payment: account.min_payment} %>
                 <% calculated = account.total_paid(options) %>
                 <% num_months += calculated[:num_months] %>
                 <% fincharge += calculated[:fincharge] %>

                 <% options_2 = {balance: account.balance, interest: account.interest, min_payment: account.min_payment + 100} %>
                   <% calculated_2 = account.total_paid(options_2) %>
                   <% num_months_2 += calculated_2[:num_months] %>
                   <% fincharge_2 += calculated_2[:fincharge] %>
              <% end %>
           <% end %>
            <p><%= "It will take <b>" + num_months.to_s + "</b> months and cost $" + fincharge.to_s + " in interest with minimum payments." %></p>
            <p><%= "With $100 more each month, you'll pay it off in <b>" + num_months_2.to_s + "</b>. And save $" + (fincharge - fincharge_2).to_s %>
         <hr>

    <% else %>
       <h3><%= vane.name %></h3>
        <p><%= vane.description %></p>
        <hr>
    <% end %>

    <% end %>
  <!-- end Payoff Debt View -->
  </div>
</div>
