<div class="row">
  <div class="col-md-4 well">
    <p><%= @accounts.name %></p>
    <p><%= @accounts.balance %></p>
    <p><%= @accounts.interest %></p>
    <p><%= @accounts.date %></p>
    <p><%= @accounts.user.f_name %></p>
    <p><%= @accounts.min_payment %></p>
    <p><% @accounts.transactions.each do |t| %>
       <%= t %>
    </p>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form method="post" action="/account/<%=@accounts.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="btn btn-default btn-danger" type="submit" value="Delete">
    </form>
    <button class="btn btn-default"><a href="/account/<%=@accounts.id%>/edit">Edit</a></button>
  <div>
</div>
